body {
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.con-box .list-wrap {
    border-top: 1px solid #e0e0e0;
}

.con-box .list-head {
    height: 50px;
    line-height: 50px;
    padding: 0 26px;
    background: none repeat scroll 0 0 #FFF;
}
.con-box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.con-box .list-head {
    height: 50px;
    line-height: 50px;
    padding: 0 26px;
    background: none repeat scroll 0 0 #FFF;
}
.con-box .list-head h2 {
    font-size: 12px;
    float: left;
    font-weight: 700;
}

.con-box .list-head h2 span {
    color: #E4393C;
    margin: 0 5px;
    font-size: 16px;
    font-family: tahoma;
}
.agent-lst {
    background: #fff;
}

.agent-lst li .pic-panel {
    font-size: 0;
    position: relative;
    width: 103px;
    
    float: left;
    
}
.agent-lst li {
    clear: both;
    width: 900px;
    padding: 26px 26px 6px 26px;
    border-bottom: 1px dotted #e1e1e1;
    position: relative;
    overflow: hidden;
    transition: all .15s ease-in-out;
}

.agent-lst li .info-panel .agent-name {
    height: 32px;
}

img {
    border: 0;
    vertical-align: top;
}

a {
    text-decoration: none;
    outline: none;
}

.agent-lst li .info-panel {
    width: 741px;
    position: relative;
    float: right;
    padding-top: 4px;
}
.agent-lst li .pic-panel img {
    display: inline;
    height: 120px;
}

.agent-lst li .info-panel .col-1 .achievement a {
    color: #999;
}

.agent-lst li .info-panel .col-1 .achievement {
    line-height: 31px;
    white-space: nowrap;
    font-size: 14px;
    color: #999;
}

.agent-lst li .info-panel .agent-name h2 {
    color: #555;
    overflow: hidden;
    font-weight: 700;
    float: left;
    text-overflow: ellipsis;
    font-size: 20px;
    white-space: nowrap;
    height: 32px;
    line-height: 20px;
    vertical-align: middle;
    font-family: "Hiragino Sans GB","微软雅黑","Microsoft YaHei",SimHei,Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}

.agent-lst li .info-panel .agent-name .position {
    background: #f1f1f1;
    padding: 4px;
    color: #888888;
    margin-left: 5px;
    border-radius: 2px;
    font-size: 12px;
}
.agent-lst li .info-panel .col-1 {
    width: 400px;
    float: left;
}
.agent-lst li .info-panel .col-1 .main-plate .mp-title {
    color: #999999;
    font-weight: 400;
}

.agent-lst li .info-panel .col-1 .main-plate a {
    color: #555;
}

.agent-lst li .info-panel .col-1 .label .good_comment_mark {
    height: 23px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    border: 1px solid #f07e19;
    padding: 0 5px;
    margin-right: 5px;
    float: left;
}

.agent-lst li .info-panel .col-1 .label {
    font-size: 12px;
    color: #666;
}

.agent-lst li .info-panel .col-1 .label .top_guider_mark {
    height: 23px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    border: 1px solid #e26b46;
    padding: 0 5px;
    margin-right: 5px;
    float: left;
}	
.agent-lst li .info-panel .col-2 {
    width: 129px;
    text-align: right;
    float: left;
    position: relative;
    top: -14px;
}

.agent-lst li .info-panel .col-2 .high-praise {
    color: #e4393c;
    margin-top: 7px;
    width: 139px;
    position: relative;
    text-align: left;
}


.agent-lst li .info-panel .col-2 .high-praise .num {
    font-size: 28px;
    font-weight: 700;
    margin-left: 4px;
    font-family: tahoma;
    letter-spacing: -1px;
}
.agent-lst li .info-panel .col-2 .comment-num a {
    color: #999;
}
.agent-lst li .info-panel .col-3 .method {
    text-align: left;
    color: #999999;
    clear: both;
    padding-top: 6.7px;
    font-size: 20px;
}
.agent-lst li .info-panel .col-3 {
   width: 200px;
text-align: right;
float: left;
position: relative;
top: -14px;
}

.clear {
    display: block;
}
.agent-lst li .info-panel .col-3 h2 {
    font-size: 30px;
    color: #E4393C;
    font-weight: 700;
    float: left;
}

.house-lst-page-box {
    padding: 30px 25px 66px 25px;
    text-align: center;
    background: #fff;
}
.house-lst-page-box {
    padding: 30px 25px 30px 25px !important;
}

.footer {
    background: url(img/home/footer-bg.jpg) no-repeat center top #222;
    clear: both;
    width: 100%;
    height: 426px;
    margin-top: 45px;
}

.footer .wrapper {
    width: 1150px;
}

.footer .f-title {
    height: 75px;
    border-bottom: 1px solid #393939;
    line-height: 75px;
    margin: 0;
}

.fl {
    float: left;
}
dl, dt, dd, ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .f-title .fl li {
    float: left;
}

.footer .f-title .fl li a {
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
}

.footer .f-title .fr {
    color: #7dcfa0;
}

.footer .lianjia-link-box {
    padding: 13px 0 20px 0;
    border-bottom: 1px solid #393939;
    background: none;
}
.fl {
    float: left;
}

.footer .lianjia-link-box .fl .tab {
    height: 40px;
}

.footer .lianjia-link-box .fl .tab span {
    padding: 8px 10px;
    background: #121212;
    color: #888c8e;
    float: left;
    margin-right: 12px;
    cursor: pointer;
    font-size: 12px;
    transition: all .3s ease-in-out;
}

body, div, p {
    margin: 0;
    padding: 0;
}

.l_wrapper .comment_tab .tab .comment .select .dropdown {
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
}

.tab-lst li.on a {
    background: #39ac6a;
    color: #fff;
}

.l_wrapper .comment_tab .tab .tab-lst li a {
    padding: 0 24px !important;
}

.tab-lst li.on a:hover {
    text-decoration: none;
}

::selection {
	background-color:rgba(13,173,81,0.2);
	color:#333
}
::-moz-selection {
	background-color:rgba(13,173,81,0.2);
	color:#333
}
::-webkit-selection {
	background-color:rgba(13,173,81,0.2);
	color:#333
}
body,div,p {
	margin:0;
	padding:0
}
article,aside,details,canvas,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
html {
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
img {
	border:0;
	vertical-align:top
}
dl,dt,dd,ul,ol,li {
	list-style:none;
	margin:0;
	padding:0
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal
}
input,textarea,button {
	margin:0;
	padding:0;
	outline:none;
	resize:none;
	font-family:"Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif
}
input[type="search"] {
	box-sizing:content-box
}
button {
	border:0
}
em,i,b,strong {
	font-weight:400;
	font-style:normal
}
iframe {
	border:0;
	margin:0;
	padding:0
}
body {
	font-size:14px;
	color:#333;
	font-family:"Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
	text-rendering:optimizeLegibility;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}


.intro {
	height:46px;
	line-height:46px;
	background:#f1f1f1;
	border-top:1px solid #eee
}
.intro .container {
	width:1000px;
	margin:0 auto
}
.intro .l-txt,.intro .r-txt {
	font-size:12px
}
.intro .l-txt i {
	background:url(img/new-version/bg.png) no-repeat -12px -7px;
	width:13px;
	height:19px;
	display:inline-block;
	position:relative;
	top:3px
}
.intro .l-txt a,.intro .l-txt span {
	color:#555555
}
.intro .l-txt span.stp {
	color:#999;
	font-family:simsun
}
.intro .l-txt .num {
	color:#E4393C
}
.intro .r-txt {
	color:#888888
}
.intro .r-txt .desc {
	color:#39ac6a
}
.clear-fl:after {
	clear:both;
	content:'.';
	height:0;
	display:block;
	overflow:hidden
}
.fix-right {
	position:fixed;
	right:20px;
	bottom:50px;
	width:37px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	z-index:100
}

.sh-erweima {
	background-image:url(img/new-version/sh-erweima.png);
	width:215px;
	height:175px;
	background-position:0 0;
	position:relative;
	right:173px;
	top:10px;
	display:none
}
.ewm-close {
	background-image:url(img/new-version/sh-erweima.png);
	background-position:0 -239px;
	width:31px;
	height:31px;
	position:relative;
	top:30px;
	right:-20px;
	z-index:99;
	display:none
}
.feedback-box {
	z-index:10000;
	display:none;
	width:415px;
	padding:55px;
	background:#fff;
	border-radius:5px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	border-radius:2px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-263px;
	margin-top:-273px
}
.feedback-box h1 {
	text-align:center;
	font-size:20px;
	line-height:40px
}
.feedback-box p {
	font-size:12px;
	color:#999;
	line-height:20px
}
.feedback-box .box {
	padding-top:15px
}
.feedback-box .box span {
	display:block;
	font-weight:700;
	padding-bottom:12px
}
.feedback-box .box span label {
	color:#f00;
	font-size:12px;
	margin-left:10px;
	display:none
}
.feedback-box .box span i {
	color:#999
}
.feedback-box .box input {
	width:182px;
	height:34px;
	border-radius:2px;
	border:1px solid #dddddd;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05);
	padding:0 8px
}
.feedback-box .box textarea {
	width:397px;
	height:120px;
	border:1px solid #dddddd;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05);
	padding:8px;
	border-radius:2px
}
.feedback-box button {
	background:#39ac6a;
	width:180px;
	height:43px;
	line-height:43px;
	color:#fff;
	border-radius:2px;
	margin-top:26px;
	font-size:16px;
	cursor:pointer
}
.feedback-box #tips {
	color:#e4393c;
	font-size:12px;
	display:block;
	margin-top:20px
}
.feedback-box .has {
	margin-top:40px;
	font-size:12px
}
.feedback-box .has a {
	color:#1688be
}
.feedback-box .has i {
	background:url(img/home/Sprite_Graphic.png) -722px -102px;
	display:inline-block;
	width:14px;
	height:14px;
	position:relative;
	top:3px;
	margin-right:3px
}
.feedback-box .tab {
	margin-top:25px
}
.feedback-box .tab span {
	color:#394043;
	font-size:14px;
	background:#f5f5f6;
	display:inline-block;
	height:34px;
	line-height:34px;
	padding:0 15px;
	cursor:pointer
}
.feedback-box .tab span.check {
	color:#f5f5f6;
	background:#394043;
	position:relative
}
.feedback-box .tab span.check:after {
	content:"";
	display:inline-block;
	width:0;
	height:0;
	border-top:5px solid #394043;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	position:absolute;
	left:50px;
	top:34px;
	margin-left:-11px
}
.feedback-box .complain .appeal .tel {
	background:#f9f4e4;
	width:100%;
	color:#887b50;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-top:37px
}
.feedback-box .complain .appeal .tel i {
	background-image:url(img/zhuanti/tousu.png);
	background-image:-webkit-image-set(url(img/zhuanti/tousu.png) 1x, url(img/zhuanti/tousu@2x.png) 2x);
	background-position:-4px -47px;
	width:9px;
	height:14px;
	display:inline-block;
	margin-right:5px;
	position:relative;
	top:1px
}
.feedback-box .complain .appeal b {
	color:#394043;
	font-weight:700;
	margin-top:40px;
	display:block
}
.feedback-box .complain .appeal p {
	color:#b2b2b2;
	line-height:23px
}
.feedback-box .complain .appeal ul li {
	height:40px;
	line-height:40px;
	border-bottom:1px solid #f5f5f5
}
.feedback-box .complain .appeal ul li span {
	color:#394043;
	font-size:12px;
	display:inline-block
}
.feedback-box .complain .appeal ul li span.time {
	width:142px
}
.feedback-box .complain .appeal ul li span.name {
	width:60px
}
.feedback-box .complain .appeal ul li span.phone {
	width:97px
}
.feedback-box .complain .appeal ul li span.type {
	width:80px
}
.feedback-box .complain .appeal ul li span.handle,.feedback-box .complain .appeal ul li span.finish {
	font-weight:700
}
.feedback-box .complain .appeal ul li span.handle {
	color:#938762
}
.feedback-box .complain .appeal ul li span.finish {
	color:#00ae66
}
.feedback-box .complain .appeal a {
	color:#b2b2b2;
	font-size:12px;
	text-decoration:underline;
	display:block;
	margin-top:10px
}
.closebok {
	position:absolute;
	right:-23px;
	top:-23px;
	width:50px;
	z-index:999
}
.closebok img {
	width:50px
}
.fix-right-v2 {
	position:fixed;
	right:0;
	top:0;
	width:38px;
	height:100%;
	background:#fff;
	z-index:1000;
	-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 10px rgba(0,0,0,0.2);
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	z-index:1001
}
.fix-right-v2 table {
	width:100%;
	height:100%
}
.fix-right-v2 table,.fix-right-v2 td {
	margin:0;
	padding:0;
	border:0;
	border-spacing:0;
	border-collapse:collapse
}
.fix-right-v2 a {
	display:block;
	width:38px;
	font-size:0;
	background-image:url("img/home/sidebar_spriteV5.png");
	background-image:-webkit-image-set(url("img/home/sidebar_spriteV5.png") 1x, url("img/home/sidebar_spriteV5@2x.png") 2x);
	overflow:hidden;
	cursor:pointer
}
.fix-right-v2 li {
	position:relative;
	margin:7px 0
}
.fix-right-v2 li span {
	position:absolute;
	right:48px;
	top:0;
	display:none;
	padding:0 14px;
	line-height:38px;
	color:#fff;
	font-size:12px;
	background:#00ae66;
	white-space:nowrap
}
.fix-right-v2 li span i {
	position:absolute;
	right:0;
	top:50%;
	width:0;
	height:0;
	margin:-5px -10px 0 0;
	font-size:0;
	border:5px solid;
	border-color:transparent transparent transparent #00ae66;
	overflow:hidden
}
.fix-right-v2 li .popup-qr {
	top:-30px;
	padding:8px;
	background:#fff
}
.fix-right-v2 li .popup-qr i {
	border-color:transparent transparent transparent #fff
}
.fix-right-v2 li .popup-qr .qr-title {
	display:block;
	padding-top:8px;
	color:#000;
	line-height:12px;
	font-size:12px;
	text-align:center
}
.fix-right-v2 .myfav a,.fix-right-v2 .myfav span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .myfav a {
	background-position:-38px 0
}
.fix-right-v2 .myfav:hover a {
	background-position:0 0
}
.fix-right-v2 .ask a,.fix-right-v2 .ask span {
	height:50px;
	line-height:50px
}
.fix-right-v2 .ask a {
	background-position:-38px -38px
}
.fix-right-v2 .ask:hover a {
	background-position:0 -38px
}
.fix-right-v2 .sell a,.fix-right-v2 .sell span {
	height:50px;
	line-height:50px
}
.fix-right-v2 .sell a {
	background-position:-38px -88px
}
.fix-right-v2 .sell:hover a {
	background-position:0 -88px
}
.fix-right-v2 .kefu a,.fix-right-v2 .kefu span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .kefu a {
	background-position:-38px -142px
}
.fix-right-v2 .kefu:hover a {
	background-position:0 -142px
}
.fix-right-v2 .baodan a,.fix-right-v2 .baodan span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .baodan a {
	background-position:-38px -186px
}
.fix-right-v2 .baodan:hover a {
	background-position:0 -186px
}
.fix-right-v2 .download a,.fix-right-v2 .download span {
	line-height:38px
}
.fix-right-v2 .download a {
	height:38px;
	background-position:-38px -224px
}
.fix-right-v2 .download:hover a {
	background-position:0 -224px
}
.fix-right-v2 .phone a,.fix-right-v2 .phone span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .phone a {
	cursor:default;
	background-position:-38px -265px
}
.fix-right-v2 .phone:hover a {
	background-position:0 -265px
}
.fix-right-v2 .feedback a,.fix-right-v2 .feedback span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .feedback a {
	background-position:-38px -302px
}
.fix-right-v2 .feedback:hover a {
	background-position:0 -302px
}
.fix-right-v2 .gotop {
	position:absolute;
	bottom:50px
}
.fix-right-v2 .gotop a,.fix-right-v2 .gotop span {
	height:38px;
	line-height:38px
}
.fix-right-v2 .gotop a {
	background-position:-38px -338px
}
.fix-right-v2 .gotop:hover a {
	background-position:0 -338px
}
.fix-right-v2 .sidebar-line {
	width:19px;
	height:1px;
	margin:7px auto;
	background:#ccc
}
.fix-right-v3 {
	position:fixed;
	right:0;
	top:0;
	width:38px;
	height:100%;
	background:#fff;
	z-index:1000;
	-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 10px rgba(0,0,0,0.2);
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	z-index:1001
}
.fix-right-v3 table {
	width:100%;
	height:100%
}
.fix-right-v3 table,.fix-right-v3 td {
	margin:0;
	padding:0;
	border:0;
	border-spacing:0;
	border-collapse:collapse
}
.fix-right-v3 .sidebar-item>a {
	display:block;
	width:38px;
	font-size:0;
	background-image:url("img/home/sidebar_spriteV5.png?v=addTool");
	background-image:-webkit-image-set(url("img/home/sidebar_spriteV5.png?v=addTool") 1x, url("img/home/sidebar_spriteV5@2x.png?v=addTool") 2x);
	overflow:hidden;
	cursor:pointer
}
.fix-right-v3 .sidebar-item {
	position:relative;
	margin:7px 0
}
.fix-right-v3 .sidebar-item .popup {
	position:absolute;
	right:48px;
	top:0;
	display:none;
	padding:0 14px;
	color:#fff;
	font-size:12px;
	background:#00ae66;
	white-space:nowrap
}
.fix-right-v3 .sidebar-item .popup i {
	position:absolute;
	right:0;
	top:50%;
	width:0;
	height:0;
	margin:-5px -10px 0 0;
	font-size:0;
	border:5px solid;
	border-color:transparent transparent transparent #00ae66;
	overflow:hidden
}
.fix-right-v3 .sidebar-item .popup-qr {
	top:-30px;
	padding:8px;
	background:#fff
}
.fix-right-v3 .sidebar-item .popup-qr i {
	border-color:transparent transparent transparent #fff
}
.fix-right-v3 .sidebar-item .popup-qr .qr-title {
	display:block;
	padding-top:8px;
	color:#000;
	line-height:12px;
	font-size:12px;
	text-align:center
}
.fix-right-v3 .myfav>a,.fix-right-v3 .myfav span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .myfav>a {
	background-position:-38px 0
}
.fix-right-v3 .myfav:hover>a {
	background-position:0 0
}
.fix-right-v3 .mycart>a {
	height:38px;
	line-height:38px;
	background-position:-38px -421px
}
.fix-right-v3 .mycart.not-empty>a {
	background-position:-38px -378px
}
.fix-right-v3 .mycart:hover>a {
	background-position:0 -378px
}
.fix-right-v3 .mycart .popup {
	padding:15px 25px 25px;
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	border:1px solid #f5f5f6;
	width:300px;
	background:#fff;
	color:#616669;
	z-index:100
}
.fix-right-v3 .mycart .popup i {
	border-color:transparent transparent transparent #fff;
	top:18px
}
.fix-right-v3 .mycart .popup .head-line {
	color:#d0d1d2;
	line-height:18px;
	padding-bottom:13px;
	border-bottom:1px solid #eee
}
.fix-right-v3 .mycart .popup .head-line .title a {
	font-size:18px;
	font-weight:bold;
	color:#394043
}
.fix-right-v3 .mycart .popup .head-line .title a:hover {
	text-decoration:none
}
.fix-right-v3 .mycart .popup .head-line .explain {
	margin-left:15px;
	line-height:18px
}
.fix-right-v3 .mycart .popup .head-line .explain a {
	color:#d0d1d2
}
.fix-right-v3 .mycart .popup .head-line .explain a:hover {
	text-decoration:none
}
.fix-right-v3 .mycart .popup .zones {
	overflow-y:auto;
	overflow-x:hidden;
	max-height:410px;
	margin-bottom:13px
}
.fix-right-v3 .mycart .popup .zones .zone {
	padding-top:5px
}
.fix-right-v3 .mycart .popup .zones .zone .zone-title {
	color:#616669;
	font-size:14px;
	line-height:45px
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li {
	display:block;
	margin-bottom:20px
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li:last-child {
	margin-bottom:10px
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li .house-detail {
	margin-left:14px
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li img {
	width:80px;
	height:60px
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li h1 {
	font-size:15px;
	line-height:15px;
	font-weight:bold;
	max-width:188px;
	overflow:hidden;
	text-overflow:ellipsis
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li h1 a {
	color:#394043
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li .info {
	color:#616669;
	font-size:12px;
	line-height:12px;
	margin:10px 0
}
.fix-right-v3 .mycart .popup .zones .zone .houses>li .price {
	font-size:15px;
	font-weight:bold;
	line-height:15px;
	color:#db4c3f
}
.fix-right-v3 .mycart .popup .zone-loading {
	text-align:center
}
.fix-right-v3 .mycart .popup .book-btn a {
	color:#fff;
	background:#00ae66;
	font-size:14px;
	font-weight:bold;
	line-height:45px;
	border-radius:2px;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	width:100%
}
.fix-right-v3 .mycart .popup .book-btn a:hover {
	text-decoration:none
}
.fix-right-v3 .mycart .popup .empty-cart,.fix-right-v3 .mycart .popup .failed-cart,.fix-right-v3 .mycart .popup .loading {
	color:#969696;
	font-size:17px;
	text-align:center
}
.fix-right-v3 .mycart .popup .empty-cart .empty-img,.fix-right-v3 .mycart .popup .failed-cart .empty-img,.fix-right-v3 .mycart .popup .loading .empty-img {
	margin:40px auto 30px;
	width:99px;
	height:94px;
	background-image:url('ershoufang/sellDetail/img/empty_cart.png');
	background-image:-webkit-image-set(url('ershoufang/sellDetail/img/empty_cart.png') 1x, url('ershoufang/sellDetail/img/empty_cart@2x.png') 2x);
	background-repeat:no-repeat
}
.fix-right-v3 .mycart .popup .empty-cart .failed-img,.fix-right-v3 .mycart .popup .failed-cart .failed-img,.fix-right-v3 .mycart .popup .loading .failed-img {
	margin:40px auto 30px;
	width:77px;
	height:106px;
	background-image:url('ershoufang/sellDetail/img/failed.png');
	background-image:-webkit-image-set(url('ershoufang/sellDetail/img/failed.png') 1x, url('ershoufang/sellDetail/img/failed@2x.png') 2x);
	background-repeat:no-repeat
}
.fix-right-v3 .mycart .popup .empty-cart .loading-img,.fix-right-v3 .mycart .popup .failed-cart .loading-img,.fix-right-v3 .mycart .popup .loading .loading-img {
	background:none;
	margin:20px auto 18px;
	width:34px;
	height:34px
}
.fix-right-v3 .mycart .popup .empty-cart .msg,.fix-right-v3 .mycart .popup .failed-cart .msg,.fix-right-v3 .mycart .popup .loading .msg {
	line-height:17px;
	margin-bottom:50px
}
.fix-right-v3 .mycart .popup .loading .msg {
	margin-bottom:23px
}
.fix-right-v3 .msg-cart a {
	background-position:-38px -378px
}
.fix-right-v3 .ask a,.fix-right-v3 .ask span {
	height:50px;
	line-height:50px
}
.fix-right-v3 .ask a {
	background-position:-38px -38px
}
.fix-right-v3 .ask:hover a {
	background-position:0 -38px
}
.fix-right-v3 .tool a,.fix-right-v3 .tool span {
	height:50px;
	line-height:50px
}
.fix-right-v3 .tool a {
	background-position:-38px -460px
}
.fix-right-v3 .tool:hover a {
	background-position:0 -460px
}
.fix-right-v3 .sell a,.fix-right-v3 .sell span {
	height:50px;
	line-height:50px
}
.fix-right-v3 .sell a {
	background-position:-38px -88px
}
.fix-right-v3 .sell:hover a {
	background-position:0 -88px
}
.fix-right-v3 .kefu a,.fix-right-v3 .kefu span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .kefu a {
	background-position:-38px -142px
}
.fix-right-v3 .kefu:hover a {
	background-position:0 -142px
}
.fix-right-v3 .baodan a,.fix-right-v3 .baodan span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .baodan a {
	background-position:-38px -186px
}
.fix-right-v3 .baodan:hover a {
	background-position:0 -186px
}
.fix-right-v3 .download a,.fix-right-v3 .download span {
	line-height:38px
}
.fix-right-v3 .download a {
	height:38px;
	background-position:-38px -224px
}
.fix-right-v3 .download:hover a {
	background-position:0 -224px
}
.fix-right-v3 .phone a,.fix-right-v3 .phone span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .phone a {
	cursor:default;
	background-position:-38px -265px
}
.fix-right-v3 .phone:hover a {
	background-position:0 -265px
}
.fix-right-v3 .feedback a,.fix-right-v3 .feedback span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .feedback a {
	background-position:-38px -302px
}
.fix-right-v3 .feedback:hover a {
	background-position:0 -302px
}
.fix-right-v3 .gotop {
	position:absolute;
	bottom:50px
}
.fix-right-v3 .gotop a,.fix-right-v3 .gotop span {
	height:38px;
	line-height:38px
}
.fix-right-v3 .gotop a {
	background-position:-38px -338px
}
.fix-right-v3 .gotop:hover a {
	background-position:0 -338px
}
.fix-right-v3 .sidebar-line {
	width:19px;
	height:1px;
	margin:7px auto;
	background:#ccc
}
.wrap-video-all {
	float:left;
	margin:0 -50px 0 -80px;
	line-height:36px;
	color:#999;
	cursor:pointer
}
.wrap-video-all img {
	position:relative;
	top:10px;
	left:0;
	height:14px;
	margin-right:5px
}
.wrap-video-all a {
	color:#999
}
.wrap-video-all:hover {
	text-decoration:underline
}
.video-box {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1100;
	width:100%;
	height:100%
}
.video-box .video-bg {
	width:100%;
	height:100%;
	background:#000;
	opacity:.5;
	position:absolute
}
.video-box .video-embed {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	background:#FFF;
	float:left;
	padding:20px 20px 20px;
	width:650px;
	height:490px;
	border-radius:5px
}
.video-box .video-embed .video-title {
	float:left;
	width:650px;
	margin-bottom:16px
}
.video-box .video-embed .video-title .video-app-download {
	position:relative;
	margin-left:18px
}
.video-box .video-embed .video-title .video-app-download a {
	cursor:pointer;
	color:#22b97a
}
.video-box .video-embed .video-title .video-app-download a .video-logo-app {
	margin-right:7px;
	position:relative;
	left:0;
	top:1px;
	height:17px
}
.video-box .video-embed .video-title .video-app-download a span {
	position:relative
}
.video-box .video-embed .video-title .video-app-download a:hover {
	text-decoration:underline
}
.video-box .video-embed .video-close {
	position:absolute;
	top:-20px;
	right:-20px;
	width:40px
}
.advert .entry {
	position:fixed;
	left:0;
	bottom:0;
	cursor:pointer;
	z-index:100
}
.advert .entry img {
	width:163px
}
.advert .huodongBox {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1011
}
.advert .huodongBox img {
	width:750px
}
.advert .huodongBox img.advertClose {
	width:42px;
	height:42px;
	position:absolute;
	right:-20px;
	top:-20px;
	cursor:pointer
}
.advert .huodong-wrap {
	position:absolute;
	left:50%;
	top:50%;
	margin:-245px 0 0 -335px
}
a {
	text-decoration:none;
	outline:none
}
a:focus {
	outline:none
}
a:hover {
	text-decoration:underline
}
.mtl {
	margin-top:20px
}
.fl {
	float:left
}
.fr {
	float:right
}
.clear:after {
	content:'.';
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	font-size:0;
	line-height:0
}
.clear {
	display:inline-table;
	*zoom:1
}
* html .clear {
	height:1%
}
.clear {
	display:block
}
.hide {
	display:none
}
::selection {
	color:#fff;
	background-color:#1688be
}
::-moz-selection {
	color:#fff;
	background-color:#1688be
}
::-webkit-selection {
	color:#fff;
	background-color:#1688be
}
.center {
	width:736px;
heigth:100%;

margin:auto;
}
.left
{
	float: left;
}
.right {
	float:right
}
.fs14 {
	font-size:14px
}
.ft-num {
	font-family:Arial,sans-serif
}
.wrapper {
	width: 952px;
	margin:0 auto
}
.wrapper-xinfang {
	width:1150px;
	margin:0 auto
}
.p {
	position:relative;
	display:inline-block;
	*display:inline;
	zoom:1
}
.box-shadow {
	-webkit-box-shadow:0 2px 4px 0 rgba(158, 158, 158, 0.2);
	-moz-box-shadow:0 2px 4px 0 rgba(158, 158, 158, 0.2);
	box-shadow:0 2px 4px 0 rgba(158, 158, 158, 0.2)
}
@media screen {
	.lazyload {
		opacity:0
	}
	.lazyload.loaded {
		-webkit-transition:opacity 0.3s ease-in;
		-moz-transition:opacity 0.3s ease-in;
		-ms-transition:opacity 0.3s ease-in;
		-o-transition:opacity 0.3s ease-in;
		transition:opacity 0.3s ease-in;
		opacity:1
	}
}
.ico {
	background-image:url(img/ico.png?v=20140828);
	_background-image:url(img/ico_ie6.png?v=20140828);
	background-repeat:no-repeat;
	width:20px;
	height:19px;
	overflow:hidden;
	margin:-1px 5px 0 0
}
.ico-place {
	background-position:-65px 1px;
	margin-right:-5px
}
.ico-place-white {
	background-position:-100px -20px;
	width:11px;
	height:14px
}
.ico-place-list {
	width:11px;
	height:14px;
	background-position:-103px -42px
}
.ico-all {
	background-position:0 0
}
.ico-train {
	background-position:-20px 0
}
.ico-map {
	background-position:-40px 0
}
.ico-star {
	background-position:-80px 0
}
.ico-arr-down {
	background-position:-80px -20px;
	margin-right:0;
	width:15px
}
.ico-pic {
	background:url(img/pic-ico.png?v=20140828) no-repeat;
	width:11px;
	height:11px
}
.ico-arr-w-down {
	background-position:-102px 0;
	width:15px
}
.ico-hot {
	background-position:-60px -20px;
	width:10px;
	height:11px
}
.ico-new {
	background-position:-60px -40px;
	width:24px;
	height:11px
}
.icon-hui {
	background:url(img/new-version/bg.png) no-repeat -150px -444px;
	width:31px;
	height:20px;
	display:inline-block
}
.ico,.ico-pic {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle
}
.suggest-wrap {
	position:relative;
	*zoom:1;
	top:-1px
}
.suggest-wrap:before,.suggest-wrap:after {
	display:table;
	content:""
}
.suggest-wrap:after {
	clear:both
}
.suggest-wrap .home-ico {
	position:absolute;
	display:none;
	margin:4px 0 0 21px
}
.ui-front {
	z-index:1002
}
.ui-autocomplete {
	font-family:"Hiragino Sans GB","微软雅黑","Microsoft YaHei",SimHei,Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
	margin-top:0;
	background-color:#fff;
	padding:15px 0;
	border-top:0;
	padding-top:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.ui-autocomplete .ui-menu-item {
	position:relative;
	margin:0;
	line-height:35px;
	height:35px;
	padding:0 20px;
	cursor:pointer
}
.ui-autocomplete .ui-menu-item .count b {
	margin-left:6px
}
.ui-autocomplete .ui-menu-item a {
	display:block;
	font-size:14px;
	color:#333
}
.ui-autocomplete .ui-menu-item .sub-text {
	font-size:12px;
	color:#999;
	height:35px
}
.ui-autocomplete .ui-menu-item .hot-title b {
	font-weight:700
}
.ui-autocomplete .ui-state-focus {
	background-color:#f9f9f9
}
.ui-autocomplete .ui-state-focus a,.ui-autocomplete .ui-state-focus span,.ui-autocomplete .ui-state-focus .sub-text,.ui-autocomplete .ui-state-focus .count {
	color:#333
}
.ui-helper-hidden-accessible {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
.search-panel-common .suggest-wrap {
	top:31px
}
.search-panel-common .suggest-wrap .ui-autocomplete {
	margin-top:0;
	padding:1px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px
}
.search-panel-common .suggest-wrap .ui-autocomplete .ui-menu-item {
	line-height:25px;
	height:25px;
	padding:0 10px;
	cursor:pointer
}
.search-panel-common .suggest-wrap .ui-autocomplete .ui-menu-item .sub-text {
	display:none
}
.search-panel-common .suggest-wrap .ui-autocomplete .ui-menu-item .count {
	display:none
}
.search-panel-common .suggest-wrap .count {
	width:60px;
	overflow:hidden
}
.page-box a {
	height:30px;
	padding:0 12px;
	margin-left:5px;
	text-align:center;
	line-height:30px;
	border:1px solid #b0b4b9;
	overflow:hidden;
	font-size:12px;
	font-weight:700;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#555;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle
}
.page-box a.on {
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	cursor:default;
	background:#f5f5f5
}
.page-box span {
	font-size:16px;
	margin:0 8px 0 13px
}
.page-box .blue-btn {
	background:#1f6bdf url(img/btn-bg.png) 0 -60px repeat-x;
	border-color:#1f66c3;
	color:#FFFFFF;
	width:auto;
	padding:0 30px
}
.page-box .blue-btn:hover {
	background-position:0 -90px;
	text-decoration:none
}
@-webkit-keyframes bounceIn {
	0% {
		opacity:0;
		-webkit-transform:scale(.3);
		transform:scale(.3)
	}
	80% {
		opacity:1;
		-webkit-transform:scale(1.05);
		transform:scale(1.05)
	}
	100% {
		opacity:1;
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}
@keyframes bounceIn {
	0% {
		opacity:0;
		-webkit-transform:scale(.3);
		-ms-transform:scale(.3);
		transform:scale(.3)
	}
	80% {
		opacity:1;
		-webkit-transform:scale(1.05);
		-ms-transform:scale(1.05);
		transform:scale(1.05)
	}
	100% {
		opacity:1;
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1)
	}
}
.bounceIn {
	-webkit-animation-name:bounceIn;
	animation-name:bounceIn
}
.animated {
	-webkit-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}
.loninContaner {
	position:relative;
	z-index:1008
}
.loninContaner .y_name {
	background:url(img/new-version/bg.png) no-repeat -678px -23px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:255px;
	height:50px
}
.loninContaner .overlay_bg {
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:.6;
	filter:alpha(opacity=60);
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:1003
}
.loninContaner .registered {
	width:380px;
	text-align:right;
	color:#555;
	padding:10px 0 35px 0;
	margin-top:7px
}
.loninContaner .registered a {
	color:#E4393C
}
.loninContaner .panel_login {
	width:400px;
	height:auto;
	background-color:#f3f3f3;
	position:fixed;
	z-index:999;
	left:50%;
	top:50%;
	margin-left:-246px;
	margin-top:-205px;
	padding-left:50px;
	box-shadow:1px 3px 14px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 3px 14px rgba(0,0,0,0.3);
	-webkit-box-shadow:1px 3px 14px rgba(0,0,0,0.3);
	-o-box-shadow:1px 3px 14px rgba(0,0,0,0.3);
	display:none;
	z-index:10000;
	border-radius:4px
}
.loninContaner .panel_login .panel_info {
	padding-top:15px;
	width:350px
}
.loninContaner .panel_login .panel_reg {
	background-color:#f3f3f3;
	height:425px;
	width:229px
}
.loninContaner .panel_login .panel_bg {
	background:url(img/new-version/sprite_lb.png) no-repeat 0 -101px;
	width:209px;
	height:69px;
	position:absolute;
	left:0;
	bottom:0
}
.loninContaner .panel_login .panel_tab {
	margin-top:25px
}
.loninContaner .panel_login .panel_tab .title {
	height:45px;
	line-height:45px;
	margin-bottom:10px
}
.loninContaner .panel_login .panel_tab .title .fl {
	font-size:20px;
	color:#333
}
.loninContaner .panel_login .panel_tab .title label {
	color:#999
}
.loninContaner .panel_login .panel_tab .title label a {
	color:#e4393c
}
.loninContaner .panel_login .panel_tab span {
	font-size:16px;
	color:#999999;
	width:189px;
	display:block;
	text-align:center;
	height:47px;
	line-height:47px;
	border:1px solid #f5f5f5;
	border-bottom:1px solid #d0d0d0;
	cursor:pointer;
	float:left;
	border-right:0;
	border-radius:4px
}
.loninContaner .panel_login .panel_tab span a {
	color:#999999;
	text-decoration:none
}
.loninContaner .panel_login .panel_tab span.checked {
	border:1px solid #d0d0d0;
	border-bottom:1px solid #f5f5f5;
	color:#555555
}
.loninContaner .panel_login .panel_tab .show-error {
	display:none;
	padding:0;
	height:auto
}
.loninContaner .panel_login .panel_tab .show-error dd {
	top:0;
	display:block;
	color:#ee5630
}
.loninContaner .panel_login .panel_tab li {
	padding:6px 0;
	color:#555555;
	clear:both;
	height:33px;
	position:relative
}
.loninContaner .panel_login .panel_tab li .mind-login {
	float:none;
	margin-right:6px
}
.loninContaner .panel_login .panel_tab li.pwd,.loninContaner .panel_login .panel_tab li.userName {
	background:#fff
}
.loninContaner .panel_login .panel_tab li i {
	background:url(img/user/sprite_user.png) no-repeat;
	width:14px;
	height:19px;
	display:inline-block;
	float:left;
	margin-top:6px;
	position:absolute;
	left:15px;
	margin-right:20px
}
.loninContaner .panel_login .panel_tab li.userName {
	margin-bottom:10px
}
.loninContaner .panel_login .panel_tab li.userName i {
	background-position:-113px 0
}
.loninContaner .panel_login .panel_tab li.pwd i {
	background-position:-113px -25px
}
.loninContaner .panel_login .panel_tab li.checkVerimg {
	margin-top:10px;
	padding:0
}
.loninContaner .panel_login .panel_tab li.checkVerimg i {
	margin:0;
	top:10px;
	background-position:-136px -25px
}
.loninContaner .panel_login .panel_tab li.checkVerimg .ver-img {
	width:151px;
	padding-left:45px;
	line-height:45px;
	height:45px;
	float:left
}
.loninContaner .panel_login .panel_tab li.checkVerimg .verImg {
	float:right;
	height:45px;
	width:145px
}
.loninContaner .panel_login .panel_tab li.li_01 {
	height:23px;
	line-height:29px
}
.loninContaner .panel_login .panel_tab li input {
	padding:0;
	float:right;
	border:0
}
.loninContaner .panel_login .panel_tab li input.password {
	margin-bottom:8px
}
.loninContaner .panel_login .panel_tab li input.the_input:focus {
	outline:none;
	border-color:#a0a0a0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.loninContaner .panel_login .panel_tab li .the_input {
	width:306px;
	height:33px;
	line-height:33px;
	color:#999999;
	font-size:14px;
	margin-bottom:6px
}
.loninContaner .panel_login .panel_tab li .y_validation {
	width:210px;
	height:39px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	color:#999999;
	padding-left:15px
}
.loninContaner .panel_login .panel_tab li img {
	float:right;
	width:85px;
	height:41px
}
.loninContaner .panel_login .panel_tab li a {
	color:#555;
	float:right
}
.loninContaner .panel_login .panel_tab .check01 {
	border:0;
	position:relative;
	top:2px;
	margin-right:5px
}
.loninContaner .panel_login .panel_tab .check01:focus {
	border:none
}
.loninContaner .panel_login .panel_tab .login-user-btn,.loninContaner .panel_login .panel_tab .login-agent-btn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:350px;
	height:45px;
	line-height:45px;
	font-size:16px;
	border:0;
	cursor:pointer;
	background:#39ac6a;
	color:#fff;
	text-align:center
}
.loninContaner .panel_login .panel_tab .login-user-btn:hover,.loninContaner .panel_login .panel_tab .login-agent-btn:hover {
	background:#3cb570;
	text-decoration:none
}
.loninContaner .panel_login .fr {
	position:relative
}
.loninContaner .panel_login .claseDialogBtn {
	background:url(img/new-version/bg.png) no-repeat -955px -47px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:19px;
	height:19px;
	position:absolute;
	right:15px;
	top:15px;
	cursor:pointer
}
.loninContaner .panel_login .panel_tab li.y_error dd {
	color:#ee5630;
	clear:both;
	display:block;
	position:relative;
	top:-10px
}
.loninContaner .panel_login .panel_tab li dd {
	display:none
}
.loninContaner .panel_login .panel_tab .dis {
	display:block
}
.loninContaner .panel_login .panel_tab .undis {
	display:none
}
.loninContaner #con_login_agent {
	display:none
}
.laisuzhou-class {
	text-decoration:none;
	cursor:text;
	color:#555 !important
}
.laisuzhou-class:hover {
	text-decoration:none
}
.laisuzhou-class:hover span {
	text-decoration:none !important
}
