*{
	float: left;
	width: 100%;
	height: 100%;
}

/*灰白区域*/
.intro{
	background-color: #F1F1F1;
	height: 50px;
}
/*主区域*/
.wrapper{
	height: auto;
	width: 1000px;
	margin: 0 auto;
	float:none;
}

/*标题栏*/
.wrapper .title-line{
	height: 100px;
	padding: 30px 0;
}
.wrapper .title-line .line01{
	height: 42px;
	width: 1000px;
}
.wrapper .title-line .line01 .title-box{
	height: 22px;
	margin: 0;
	padding: 0;
	font-size: 1.85em;
	font-family: "Hiragino Sans GB","微软雅黑","Microsoft YaHei",SimHei,Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.wrapper .title-line .view-label{
	height: 25px;
	width: 1000px;
}
.wrapper .title-line .view-label span{
	height: 25px;
	width: auto;
	font-size: 1em;
	margin-right: 5px;
}
.wrapper .title-line .view-label .span-discount{
	border: solid 1px lightgreen;
	color: lightgreen;
}
.wrapper .title-line .view-label .span-visit{
	border: solid 1px lightblue;
	color: lightblue;
}
/*信息区域*/
.wrapper .panel-box-info{
	height: 420px;
}
/*图像框*/
.wrapper .panel-box-info .album-box{
	width: 334px;
	padding: 30px 0;
}

.wrapper .panel-box-info .album-box #myCarousel{
	height: 250px;
}
.wrapper .panel-box-info .album-box #myCarousel .carousel-control{
	padding: 35% 0 0 0;
}
.wrapper .panel-box-info .album-box #myCarousel .carousel-control span{
	height: auto;
}
.wrapper .panel-box-info .album-box #myCarousel .carousel-idc{
	height: 83px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}
.wrapper .panel-box-info .album-box #myCarousel .carousel-indicators{
	height: 100%;
	width: auto;
	position: relative;
	top: 5px;
	left: 100px;
	padding: 5px;
}
.wrapper .panel-box-info .album-box #myCarousel .carousel-indicators li{
	width: 70px;
	height: 50px;
	margin: 1px 5px;
	border:solid 1px #fff;
}
/*信息框*/
.wrapper .panel-box-info .info-box{
	width: 388px;
	padding: 30px 0 0 25px;
}
.wrapper .panel-box-info .info-box .desc-text{
	height: auto;
}
.wrapper .panel-box-info .info-box .desc-text dl{
	height: 13px;
	font-size: 0.8em;
}
.wrapper .panel-box-info .info-box .desc-text dl *{
	width: auto;
	height: auto;
}
.wrapper .panel-box-info .info-box .countact-panel{
	height: 68px;
}
/*中介框（部分内容可复用于后面的样式）*/
.wrapper .panel-box-info .agent-box{
	width: 218px;
	height: 318px;
	float: left;
	margin-left: 10px;
}
.agent-info{
	width: 218px;
	height: 102px;
}
.agent-info .agent-del{
	width: 83px;
	height: 95px;
	overflow: hidden;
}
.agent-info .agent-del .iframe-img{
	width: 83px;
	height: auto;
}
.agent-info .p-del{
	width: 115px;
	height: 102px;
	float: right;
}
.agent-info .p-del *{
	height: auto;
	width: auto;
}
.agent-info .p-del p{
	height: 25px;
	width: 100%;
	margin: 0px;
	padding: 0 5px;
	font-size: 0.8em;
}
.agent-info .p-del .p-01{
	height: 27px;
	font-size: 1.2em;
	font-weight: bolder;
}
.agent-info .p-del .p-01 a{
	margin-right: 5px;
}
.wrapper .panel-box-info .agent-box .agent-comment{
	width: 218px;
	height: 113px;
	margin-top: 10px;
}
.wrapper .panel-box-info .agent-box .agent-comment *{
	width: auto;
	height: auto;
}
.wrapper .panel-box-info .agent-box .agent-comment .title{
	height: 24px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 12px;
    padding-bottom: 7px;
    font-size: 12px;
    width: 100%;
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, 宋体b8b体, SimSun, sans-serif;
}
.wrapper .panel-box-info .agent-box .agent-comment .title h2{
	height: 100%;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
.wrapper .panel-box-info .agent-box .agent-comment .title span{
	margin-left: 10px;
	float: left;
	width: auto;
	height: 100%;
	font-size: 1em;
}
.wrapper .panel-box-info .agent-box .agent-comment .title span a{
	height: 100%;
	font-size: 1em;
	color: #999;
}
.wrapper .panel-box-info .agent-box .agent-comment .content{
	height: 77px;
	width: 100%;
}
.wrapper .panel-box-info .agent-box .agent-comment .content .comment-rate{
	height: 100%;
	width: 109px;
	line-height: 77px;
    font-size: 30px;
    color: #E4393C;
    font-weight: 700;
    font-family: "Tahoma";
    margin: 0;
    padding: 0;
    text-align: center;
}
.wrapper .panel-box-info .agent-box .agent-comment .content .comment-rate a{
	color: #E4393C;
	text-align: center;
	width: 100%;
	margin: 0;
    padding: 0;
}
.wrapper .panel-box-info .agent-box .agent-comment .content .comment-rate-detail{
	height: 64px;
	width: 100px;
}
.wrapper .panel-box-info .agent-box .promise{
	width: 212px;
	height: 45px;
	background-color: lightgreen;
	margin-top: 10px;
}
.wrapper .panel-box-info .agent-box .unic-label{
	width: 218px;
	height: 42px;
	background-color: grey;
	margin-top: 10px;
}
/*内容区域*/
.wrapper .panel-box-content{
	width: 1000px;
}
/*内容导航*/
.wrapper .panel-box-content .panel-tab{
	height: 46px;
	border-bottom: solid 3px #39AC6A;
}
.wrapper .panel-box-content .panel-tab li{
	width: auto;
	height: 44px;
	padding:10px 20px;
}
.wrapper .panel-box-content .panel-tab li.on{
	background-color: #39AC6A;
}
.wrapper .panel-box-content .panel-tab li.on a{
	color: #FFF;
}
.wrapper .panel-box-content .panel-tab li a{
	font-size: 1.2em;
	font-weight: bold;
}
/*房源描述*/
.wrapper .panel-box-content .tab-content{
	height: auto;
	margin: 10px 0 50px 0;
}
.wrapper .panel-box-content .tab-content #detail-content{
	height: auto;
}
/*标题样式可以复用*/
.wrapper .panel-box-content .tab-content .detail-title{
	height: 50px;
	border-bottom: solid 1px #CCC;
	padding: 0 5px;
}
.wrapper .panel-box-content .tab-content .detail-title h3{
	font-size: 1.2em;
	font-weight: bold;
	width: auto;
}
.wrapper .panel-box-content .tab-content #detail-content .items{
	height: auto;
	border-bottom: solid 1px #CCC;
}
.items *{
	width: auto;
	height: auto;
}
.wrapper .panel-box-content .tab-content #detail-content .items .content{
	width: 738px;
	padding: 1%;
}
.wrapper .panel-box-content .tab-content #detail-content .items .content h2{
	font-size: 1.5em;
	width: 98%;
	font-family: "Hiragino Sans GB","微软雅黑","Microsoft YaHei",SimHei,Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.wrapper .panel-box-content .tab-content #detail-content .items .content .time{
	width: 98%;
	color: #999;
	font-size: 0.8em;
}
.wrapper .panel-box-content .tab-content #detail-content .items .content .text-comment,.text-comment-all{
	width: 98%;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
	font-size: 1.1em;
}
.wrapper .panel-box-content .tab-content #detail-content .items .content .text-comment .actShowMore{
	float: none;
	color: #39AC6A;
	cursor: pointer;
}
.wrapper .panel-box-content .tab-content #detail-content .items .people{
	width: 218px;
}
.wrapper .panel-box-content .tab-content #detail-content .items .contactted{
	color: #39AC6A;
	font-size: 1.5em;
}
.wrapper .panel-box-content .tab-content #detail-album .detail-album-box{
	height: auto;
}
.wrapper .panel-box-content .tab-content #detail-album .detail-album-box .actShowImg{
	width: 49%;
	height: auto;
	margin: 0.5%;
}
.wrapper .panel-box-content .tab-content #detail-album .detail-album-box .sub-text{
	color: #888;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
	font-size: 0.9em;
	width: auto;
	margin-left: 5px;
}
/*地图信息*/
.wrapper .panel-box-content .tab-content #house-map{
	margin-top:10px;
}
.wrapper .panel-box-content .tab-content #house-map .detail-map *{
	width: auto;
	height: auto;
}
.wrapper .panel-box-content .tab-content #house-map .detail-map{
	height: 400px;
}
.wrapper .panel-box-content .tab-content #house-map .detail-map #allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top:30px;
	font-family:"微软雅黑";
}
/*楼房推荐*/
.wrapper .house-commend{
	height: auto;
	width: 1000px;
	margin: 0 0 30px 0;
}
.wrapper .house-commend .detail-title{
	height: 50px;
	border-bottom: solid 1px #CCC;
	padding: 0 5px;
}
.wrapper .house-commend .detail-title h3{
	font-size: 1.2em;
	font-weight: bold;
	width: auto;
}
.wrapper .house-commend .show-content{
	margin-top: 30px;
	height: 221px;
}
.wrapper .house-commend .show-content ul{
	padding: 0;
}
.wrapper .house-commend .show-content ul li{
	width: 228px;
	margin:0 10px;
}
.wrapper .house-commend .show-content ul li .pic{
	height: 173px;
}
.wrapper .house-commend .show-content ul li .pic .bg{
	height: 45px;
	position: relative;
	top: -45px;
	width: 100%;
}
.wrapper .house-commend .show-content ul li .pic img{
	height: 173px;
}
.wrapper .house-commend .show-content ul li .pic .description{
	padding: 0 12px;
	position: relative;
	top: -75px;
	left: 0;
	color: #FFF;
	height: 19px;
	width: 228px;
}
.wrapper .house-commend .show-content ul li .pic .description span{
	height: auto;
	width: auto;
}
.wrapper .house-commend .show-content ul li .pic .description .title{
	font-size: 16px;
	font-weight: bold;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.wrapper .house-commend .show-content ul li .pic .description .type{
	line-height: 17px;
	margin-left: 6px;
	font-size: 0.8em;
	padding: 0 5px;
	border:1px solid white;
	display: inline-block;
	border-radius: 2px;
	vertical-align: middle;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.wrapper .house-commend .show-content ul li .price{
	width: 228px;
	height: 14px;
	font-weight: bold;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
}
.wrapper .house-commend .show-content ul li .price .average span{
	width: auto;
	float: none;
	color: #E4393C;
}
.wrapper .house-commend .show-content ul li .area{
	height: 12px;
	font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
	font-size: 0.8em;
}