<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.web.mapper.HouseMapper">

	<insert id="insert" parameterType="HouseEntity">
		insert into house ( title, prize, down_payment, monthly_payment, orientation, floor, year, house_describe,
		                    area, house_type_url, house_view_url, room_amount, livingroom_amount, toilet_amount, balcony_amount,
		                    state, agent_id, house_number, province, city, town, zone, village_name, address)
		values(#{title},#{prize},#{downPayment},#{monthlyPayment},#{orientation},#{floor},#{year},#{houseDescribe},
		       #{area},#{houseTypeUrl},#{houseViewUrl},#{roomAmount},#{livingroomAmount},#{toiletAmount},#{balconyAmount},#{state},
		       #{agentId},#{houseNumber},#{province},#{city},#{town},#{zone},#{villageName},#{address})
	</insert>
	
	<select id="search"  parameterType="string" resultType="HouseEntity">
		select * from house 
		<where>
			<if test="title != null and title != ''">
			   	title like '%' #{title} '%'
			</if>
			<if test="prize != null and prize != ''">
				or prize like '%' #{prize} '%'
			</if>
			<if test="roomAmount != null and roomAmount != ''">
			   	or room_amount like '%' #{roomAmount} '%'
			</if>
			<if test="area != null and area != ''">
				or area like '%' #{area} '%'
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="int" resultType="HouseEntity">
		select * from house where house_id=#{id}
	</select>
	
	<select id="findAll" resultType="HouseEntity">
		select * from house order by house_id
	</select>
	
	<select id="findByAgentId" parameterType="int" resultType="HouseEntity">
	    select * from house where agent_id=#{agentId}
	</select>
	
	<select id="queryPage" parameterType="int" resultType="HouseEntity">
		select * from house order by house_id desc limit #{offset}, #{size}
	</select>
	
	<select id="queryPageByAgentId" parameterType="int" resultType="HouseEntity">
	    select * from house where agent_id = #{agentId} order by house_id desc limit #{offset}, #{size}
	</select>
	
	<select id="queryAdvertisementList" parameterType="int" resultType="HouseEntity">
		select * from house where house_id > #{id} order by house_id limit 4
	</select>
	
	<update id="update" parameterType="HouseEntity">
		update house
			<set>
				<if test="title != null">
					title=#{title},
				</if>
				<if test="prize != null || prize != 0">
					prize=#{prize},

				</if>
				<if test="downPayment != null">
					down_payment=#{downPayment},
				</if>
				<if test="monthlyPayment != null">
					monthly_payment=#{monthlyPayment},
				</if>
				<if test="orientation != null">
					orientation=#{orientation},
				</if>
				<if test="floor != 0">
					floor=#{floor},
				</if>
				<if test="year != 0">
					year=#{year},

				</if>
				<if test="houseDescribe != null">
					house_describe=#{houseDescribe},
				</if>
				<if test="area != 0">
				    area=#{area}
				</if>
				<if test="roomAmount != null">
					room_amount=#{roomAmount},
				</if>
				<if test="houseTypeUrl != null">
					house_type_url = #{houseTypeUrl}
				</if>
				<if test="houseViewUrl != null">
					house_view_url = #{houseViewUrl}
				</if>
				<if test="livingroomAmount != null">
					livingroom_amount=#{livingroomAmount},
				</if>
				<if test="toiletAmount != null">
					toilet_amount=#{toiletAmount},
				</if>
				<if test="balconyAmount != null">
					balcony_amount=#{balconyAmount},
				</if>
				<if test="balconyAmount != null">
					balcony_amount=#{balconyAmount},
				</if>
				<if test="state != null">
					state=#{state},
				</if>
				<if test="agentAd != null">
					agent_id=#{agentId},
				</if>
				<if test="houseAumber != null">
					house_number=#{houseNumber},
				</if>
				<if test="province != null">
					province=#{province},
				</if>
				<if test="city != null">
					city=#{city},
				</if>
				<if test="town != null">
					town=#{town},
				</if>
				<if test="zone != null">
					zone=#{zone},
				</if>
				<if test="villageName != null">
					village_name=#{villageName},
				</if>
				<if test="address != null">
					address=#{address}
				</if>
			</set>
		where house_id=#{houseId}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from house where house_id=#{id}
	</delete>

	
</mapper>