<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.mapper.LabelMapper">
    
    <select id="findById" parameterType="int" resultType="LabelEntity">
        select * from label where label_id = #{labelId};
    </select>
    
    <select id="findAll" resultType="LabelEntity">
        select * from label
    </select>
    
    <select id="queryPage" parameterType="int" resultType="LabelEntity">
        select * from label order by label_id limit #{offset} ,#{size}
    </select>
    
    <delete id="delete" parameterType="int">
        delete from label where label_id = #{labelId};
    </delete>
    
    <insert id="insert" parameterType="LabelEntity">
        insert into label(label) values (#{label})
    </insert>
    
</mapper>