<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.web.mapper.ManagerMapper">
	
    <insert id="insert" parameterType="ManagerEntity">
        insert into manager (account, password,name, state, level, photo_url)
		values(#{account},#{password},#{name},#{state},#{level},#{photoUrl})
    </insert>
    
    <select id="login" parameterType="String" resultType="ManagerEntity">
    	select * from manager where account=#{account}
    </select>
    
	<select id="findById" parameterType="int" resultType="ManagerEntity">
		select * from manager where manager_id=#{id}
	</select>
	
	<select id="findAll" resultType="ManagerEntity">
		select * from manager order by manager_id
	</select>
	
	<select id="queryPage" parameterType="int" resultType="ManagerEntity">
		select * from manager order by manager_id limit #{offset}, #{size}
	</select>
	
	<update id="enable" parameterType="int">
	    update manager set state = 1 where manager_id = #{managerId}
	</update>
	
	<update id="disable" parameterType="int">
	    update manager set state = 2 where manager_id = #{managerId}
	</update>
	
	<update id="update" parameterType="ManagerEntity">
		update manager
			<set>
				<if test="account != null">
					account = #{account},
				</if>
				<if test="password != null">
					password = #{password},
				</if>
				<if test="name != null">
					name = #{name},
				</if>
				<if test="state != null">
					state = #{state},
				</if>
				<if test="level != null">
					level = #{level},
				</if>
				<if test="photoUrl != null">
					photo_url = #{photoUrl}
				</if>
			</set>
		where manager_id=#{managerId}
	</update>
	
</mapper>